In [7]:
import sqlite3
sqlite_file = '/home/optimus/Downloads/money_android.sqlite'
conn = sqlite3.connect(sqlite_file)
c = conn.cursor()
import pandas as pd

In [12]:
def to_csv():
    c.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tables = c.fetchall()
    for table_name in tables:
        table_name = table_name[0]
        table = pd.read_sql_query("SELECT * from %s" % table_name, db)
        table.to_csv(table_name + '.csv', index_label='index')

In [13]:
table.head()

,type,name,tbl_name,rootpage,sql
0,table,android_metadata,android_metadata,3,CREATE TABLE android_metadata (locale TEXT)
1,table,sqlite_sequence,sqlite_sequence,4,"CREATE TABLE sqlite_sequence(name,seq)"
2,table,MESSAGEMACRO2,MESSAGEMACRO2,5,CREATE TABLE MESSAGEMACRO2 ( AID \t\t\t ...
3,index,MESSAGEMACRO2_IDX1,MESSAGEMACRO2,6,CREATE INDEX MESSAGEMACRO2_IDX1 ON MESSAGEMACR...
4,table,INOUTCOME,INOUTCOME,7,CREATE TABLE INOUTCOME (AID \t\t\t INTEGE...